# Dependencias
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Subidas de usuario
uploads/*
!uploads/.gitkeep

# Entorno y editores
.env
.env.local
.DS_Store
Thumbs.db
.vscode/
.idea/
